<html>

<head>
    <title> Add Faculty </title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/app.js"></script>
    <script src="../js/addfaculty.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    <nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">Department.js</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a href="home.html">Home</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Notices
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="noticecreation.html">Add New Notice</a>
              </li>
              <li>
                <a href="ViewNotices.html">View all Notice</a>
              </li>
            </ul> 
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Students
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="http://slc.gndu.ac.in/StudentArea/Login.aspx" href="assets/templates/addnewbatch.html" target="_blank">Add a Batch</a>
              </li>
              <li>
                <a href="assets/templates/gendata-form.html">Add a Student</a>
              </li>
              <li>
                <a href="assets/templates/ClassWiseList.html">Class-Wise List</a>
              </li>
              <li>
                <a href="assets/templates/studentsleft.html">Students Left</a>
              </li>
              <li>
                <a href="#">Edit Student Details</a>
              </li>
                <li>
                  <a href="assets/templates/scholarshipdetails-form.html">Scholarship List</a>
                </li>
               <li>
                 <a href="#">Sports List</a>
               </li>
               <li>
                  <a href="assets/templates/jashandetail-form.html">Jashan List</a>
                </li>
            </ul>
          </li>
          <ul class="nav navbar-nav">
            <li>
            <a href="assets/templates/links.html">Links
            </a>
          </li>
        </ul>
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown">Teachers
              <span class="caret"></span>
           </a>
            <ul class="dropdown-menu">
              <li class="active">
                <a href="assets/templates/addfaculty.html">Add a Teacher</a>
              </li>
              <li>
                <a href="assets/templates/facultydetail.html">List Teachers</a>
              </li>
              <li>
                <a href="assets/templates/teachonleave.html">Add Leave</a>
              </li>
              <li>
                <a href="">Teachers Leave</a>
              </li>
            </ul>
          </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Time-Table
              <span class="caret"></span>
            </a>
          <ul class="dropdown-menu">
            <li>
              <a href="assets/templates/teacherwisett.html">Teacher-wise</a>
            </li>
            <li>
              <a href="assets/templates/classwisett.html">Class-wise</a>
            </li>
            <li>
              <a href="#">Update Time-table</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="../student-app/assets/templates/account.html">Manage Details</a>
            </li>
           <li>
             <a href="../student-app/assets/templates/changePassword.html">Change Secret Key</a>
           </li>
         </ul>
       </li>
          <ul class="nav navbar-nav navbar-right">
            <li style="margin-right: -50%">
              <a href="assets/templates/sign-in.html">
                <span class="fas fa-user"></span>LogOut</a>
            </li>
          </ul>
          </ul>
      </div>
      </div>
  </nav>

    <!-- Page formatting code -->
    <section id="team" class="section grey-section">
        <div class="white-shape">
            <div class="icon-container fixed border-radius">
                <i class="fas fa-users" style="margin-left:10%;"></i>
            </div>
        </div>
        <div class="section-container">
            <div class="container">
                <div class="big-title">
                    <h3>
                        <span>
<!--                                               style="text-shadow: 2px 2px 3px blue;margin-top:30%
 -->                       Add Faculty</span>
                    </h3>
                    <div class="border-title"></div>
                </div>

                <div class="masonry-item col-md-6">
                    <div class="bgc-white p-20 bd">
                        <div class="mT-30">
                            <form>
                                <div class="form-group row">
                                    <label for="inputtext" class="col-sm-3 col-form-label">Teacher Id</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="iteacherId" placeholder="">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="inputtext" class="col-sm-3 col-form-label">Teacher Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="iteacherName" placeholder="">
                                    </div>
                                </div>

                                <!-- dropdown menu code -->
                                <div class="masonry-item col-md-6">
                                    <label for="inputState">Teacher Type</label>
                                    <select id="iteacherType" class="form-control">
                                        <option selected="selected">Choose...</option>
                                        <option>Research Scholar</option>
                                        <option>Professor</option>
                                    </select>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="masonry-item col-md-6">
                                    <label for="inputState">Upload Picture</label>
                                    <input type="file" class="form-control" id="iuploadPicture" style="margin-left:20%" placeholder="">
                                    <br>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" id="isubmit" onclick="validate();">Submit</button>
                        <button type="submit" class="btn btn-primary" id="icancle">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>