<html>
<head>
	<title>Links</title>
	<!-- <link rel="import" href="navabar.html"> -->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/style2.css">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
<script src="../js/app.js"></script>
<script src="../js/links.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/popper.min.js"></script>
	<style>
        </style>
</head>
<body onload="load()">
	<div class="container">
	<fieldset>
	<legend><h2><span><center>Important Links</center></span></h2></legend>
	<h4>To update the links kindly paste the new links in the text input</h4>
	<h3>ID Courses </h3><input type="text" id="courses" style="width:50%;"></t><!-- <a href="http://www.gnduadmissions.org/dhanpreet_id_may2018/idevensem_index.asp" target="_blank"><button class="btn-primary">Courses</button> </a>-->
<!-- 	<button onclick="load">Save</button>
 -->	<hr>
	<h3>Fee collecton</h3><input type="text" id="fee" style="width:50%;"></t><!-- <a href="http://slc.gndu.ac.in/StudentArea/Login.aspx"><button class="btn-success">Fees</button></a> -->
	<!-- <button>Save</button> -->
	<hr>
	<h3>Verify Payment</h3><input type="text" id="verify" style="width:50%;"></t><!-- <a href="http://www.gndu.ac.in/certificate/php_users/"><button class="btn-warning">Verification</button></a> -->
	<!-- <button>Save</button> -->
	<hr>
	<h3>Syllabus-batchwise</h3><input type="text" id="syllabus" style="width:50%"></t><!-- <button class="btn-danger">Syllabus</button>< -->
	<!-- <button>Save</button> -->
	<br>
	<br>
	<button id="iupdate" onclick="update();">Update</button>
</fielset>	
</div>
	</body>
</html>