<html>
<head>
	<title>Teacher-Wise TT</title>
	 <style>
    </style>
    <link rel="import" href="navbar.html">
<link rel="stylesheet" href="../css/style.css">
 <link href="../css/style2.css" rel="stylesheet">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
<script src="../js/app.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/popper.min.js"></script>
	</head>
	<body>
		<section id="team" class="section grey-section">
        <div class="white-shape">
            <div class="icon-container fixed border-radius">
                <i class="fas fa-users" style="margin-left:10%;"></i>
            </div>
        </div>
 <div class="section-container">
            <div class="container">
                <div class="big-title">
			<h3><span>Teacher-Wise Time Table</span></h3>
		</div>
		<form class="form-group">
			<label>Kindly select your Name in order to get TimeTable</label><br>
			<input type="checkbox" id="pkchecked" onclick="Timetable();">Parminder Kaur
			<br>
			<label id="show" style="display:none">
			<input type="checkbox" id="fyicchecked" onclick="checking();">MCA(FYIC)
			<input type="checkbox" id="tycchecked" onclick="checking();">MCA(TYC)
		</label>
			<br>
			<input type="checkbox" id="kkchecked" onclick="Timetable();">Kuljit Kaur
			<br>
			<label  id="show" style="display:none">
			<input type="checkbox" id="fyicchecked" onclick="checking();">MCA(FYIC)
			<input type="checkbox" id="tycchecked" onclick="checking();">MCA(TYC)
		</label>
			<br>
			<input type="checkbox" id="kichecked" onclick="Timetable();">Kirandeep Kaur
			<br>
			<label id="show" style="display:none">
			<input type="checkbox" id="fyicchecked" onclick="checking();">MCA(FYIC)
			<input type="checkbox" id="tycchecked" onclick="checking();">MCA(TYC)
		</label>
			<br>
			<input type="checkbox" id="jschecked" onclick="Timetable();">Jaspreet Singh Bhatt
			<br>
			<label id="show" style="display:none">
			<input type="checkbox" id="fyicchecked" onclick="checking();">MCA(FYIC)
			<input type="checkbox" id="tycchecked" onclick="checking();">MCA(TYC)
		</label>
			<br>
			<input type="checkbox" id="hkchecked" onclick="Timetable();">Harman Kaur
			<br>
			<label id="show" style="display:none">
			<input type="checkbox" id="fyicchecked" onclick="checking();">MCA(FYIC)
			<input type="checkbox" id="tycchecked" onclick="checking();">MCA(TYC)
		</label>
			<br>
			<input type="checkbox" id="skchecked" onclick="Timetable();">Smriti Kaur
			<br>
			<label id="show" style="display:none">
			<input type="checkbox" id="fyicchecked" onclick="checking();">MCA(FYIC)
			<input type="checkbox" id="tycchecked" onclick="checking();">MCA(TYC)
		</label>
			<br>
			<input type="checkbox" id="nkchecked" onclick="Timetable();">Navinder Kaur
			<br>
			<label id="show" style="display:none">
			<input type="checkbox" id="fyicchecked" onclick="checking();">MCA(FYIC)
			<input type="checkbox" id="tycchecked" onclick="checking();">MCA(TYC)
		</label>
		</form>
	</div>
</div>
</section>
<script type="text/javascript" src="../js/teacherwisett.js"></script>
	</body>
</html>