<html>
    <head>
        <title> View Notices </title>
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- <link rel="import" href="navabar.html"> -->
        <style>
        	.edittoggle{
        		display:none;
        	}
        </style>
    </head>
<body>
        <!-- Page formatting code -->
        <section id="team" class="section grey-section">
            <div class="white-shape">
                <div class="icon-container fixed border-radius">
                    <i class="fa fa-users"></i>
                </div>
            </div>
            <div class="section-container">
                <div class="container">
                    <div class="big-title">
                        <h3>
                            <span>View All Notices</span> </h3>
                        <div class="border-title"></div>
                    </div>
<section>
    <div class="container" id="cont">
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <div class="card">
                <img src="../img/n1.png" id="img1" style="height:280;width:280;border:1px solid black">
                <div class="card-body">
                <h4  class="card-title">NOTICE 1</h4>
                <pre class="card-text" style="width:280px">TIME:-3:45pm<br>DAY:- MONDAY
                	<!-- VALIDITY:-12.05.2020 -->
                </pre>
                    <div class="row">
                    <!-- <div class="col-lg-2"> -->
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a  class="btn btn-warning ipublish" onclick="show('img1');">PUBLISH</a>
                    <a  class="btn btn-danger iunpublish" onclick="hide('img1');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                        <!-- </div> -->
                    </div>
            </div>
            </div></div>
        <div class="col-sm-4 col-lg-3">
            <div class="card">
                <img src="../img/fees.jpg" id="img2" style="width:280;height:280;border:1px solid black">
                <div class="card-body">
                <h4 class="card-title">NOTICE 2</h4>
                <pre class="card-text" style="width:280px">TIME:-1:05pm<br>DAY:-TUESDAY
                	<!-- VALIDITY:-1.06.2020 -->
                </pre>
                    <!-- <div class="col-lg-4"> -->
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img2');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img2');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                <!-- </div> -->
            </div>
            </div></div>

        <div class="col-sm-4 col-lg-3">
        <div class="card">
                <img src="../img/n1.png" id="img3" style="width:280;height:280;border:1px solid black">
                <div class="card-body">
                <h4 class="card-title">NOTICE 3</h4>
                <pre class="card-text" style="width:280px">TIME:11:00am<br>DAY:-WEDNESDAY
                	<!-- VALIDITY:- CLOSED -->
                </pre>
                    <!-- <a href="#" class="btn btn-primary" >DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img3');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img3');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                </div>
            </div>
        </div>


        <div class="col-sm-4 col-lg-3">
            <div class="card">
                <img src="../img/new3notice.jpg" id="img4" style="width:280;height:280;border:1px solid black">
                <div class="card-body">
                <h4 class="card-title">NOTICE 4</h4>
                <pre class="card-text" style="width:280">TIME:-9:45am<br>DAY:- THURSDAY
                	<!-- VALIDITY:-<span id="ivalid">20.7.2020</span> -->
                </pre>
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish " onclick="show('img4');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img4');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->


                </div>
            </div>
        </div>

</div>
<hr>
        <div class="row" style="margin-top:10px">
            <div class=" col-sm-4 col-lg-3">
                <div class="card">
                <img src="../img/newnotice.jpg" id="img5" style="width:280;height:280;border:1px solid black;">
                <div class="card-body">
                <h4 class="card-title">NOTICE 5</h4>
                <pre class="card-text" style="width:280">TIME:-12:45pm<br>DAY:-FRIDAY
                	<!-- VALIDITY:- 23.08.2020 -->
                </pre>
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img5');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img5');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                </div>

            </div>
        </div>
            <div class="col-sm-4 col-lg-3">
                <div class="card">
                  <img src="../img/n1.png" id="img6" style="width:280;height:280;border:1px solid black">
                  <div class="card-body">
                    <h4 class="card-title">NOTICE 6</h4>
                    <pre class="card-text" style="width:280">TIME:-11:45am<br>DAY:- SATURDAY
                    	<!-- VALIDITY:- 20.03.2019 -->
                    </pre> 
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img6');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img6');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                  </div>
               </div>
           </div>
           <div class="col-sm-4 col-lg-3">
                <div class="card">
                  <img src="../img/n1.png" id="img7" style="width:280;height:280;border:1px solid black">
                  <div class="card-body">
                    <h4 class="card-title">NOTICE 7</h4>
                    <pre class="card-text" style="width:280">TIME:-11:45am<br>DAY:- SATURDAY
                    	<!-- VALIDITY:- 20.03.2019 -->
                    </pre> 
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img7');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img7');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                  </div>
               </div>
           </div>
           <div class="col-sm-4 col-lg-3">
                <div class="card">
                  <img src="../img/newnotice.jpg" id="img8" style="width:280;height:280;border:1px solid black">
                  <div class="card-body">
                    <h4 class="card-title">NOTICE 8</h4>
                    <pre class="card-text" style="width:280">TIME:-11:45am<br>DAY:- SATURDAY
                    	<!-- VALIDITY:- 20.03.2019 -->
                    </pre> 
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img8');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img8');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                  </div>
               </div>
           </div>


</div>
 <div class="row" style="margin-top:10px">
            <div class=" col-sm-4 col-lg-3">
                                <div class="card">
                  <img src="../img/fees.jpg" id="img9" style="width:280;height:280;border:1px solid black">
                  <div class="card-body">
                    <h4 class="card-title">NOTICE 9</h4>
                    <pre class="card-text" style="width:280">TIME:-11:45am<br>DAY:- SATURDAY
                        <!-- VALIDITY:- 20.03.2019 -->
                    </pre> 
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img9');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img9');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                  </div>
               </div>
        </div>
                    <div class=" col-sm-4 col-lg-3">
                                <div class="card">
                  <img src="../img/new3notice.jpg" id="img10" style="width:280;height:280;border:1px solid black">
                  <div class="card-body">
                    <h4 class="card-title">NOTICE 10</h4>
                    <pre class="card-text" style="width:280">TIME:-11:45am<br>DAY:- SATURDAY
                        <!-- VALIDITY:- 20.03.2019 -->
                    </pre> 
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img10');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img10');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                  </div>
               </div>
        </div>
        <div class=" col-sm-4 col-lg-3">
                                <div class="card">
                  <img src="../img/n1.png" id="img11" style="width:280;height:280;border:1px solid black">
                  <div class="card-body">
                    <h4 class="card-title">NOTICE 11</h4>
                    <pre class="card-text" style="width:280">TIME:-11:45am<br>DAY:- SATURDAY
                        <!-- VALIDITY:- 20.03.2019 -->
                    </pre> 
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img11');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img11');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                  </div>
               </div>
        </div>
        <div class=" col-sm-4 col-lg-3">
                                <div class="card">
                  <img src="../img/n1.png" id="img12" style="width:280;height:280;border:1px solid black">
                  <div class="card-body">
                    <h4 class="card-title">NOTICE 12</h4>
                    <pre class="card-text" style="width:280">TIME:-11:45am<br>DAY:- SATURDAY
                        <!-- VALIDITY:- 20.03.2019 -->
                    </pre> 
                    <!-- <a href="#" class="btn btn-primary">DOWNLOAD</a> -->
                    <a href="#" class="btn btn-warning ipublish" onclick="show('img12');">PUBLISH</a>
                    <a href="#" class="btn btn-danger iunpublish" onclick="hide('img12');">UNPUBLISH</a>
                    <!-- <a href="#" class="btn btn-success" onclick="validity();">VALIDITY CHECK</a> -->
                  </div>
               </div>
        </div>

    </div>
</div>
    </section>
</div>
</div>
</section>
    </section>
        <script type="text/javascript" src="../js/viewnotice.js"></script>
        <!-- <script type="text/javascript" src="../js/noticevalidity"></script> -->
    </body>
</html>